html {
    background-color: black;
}

body {
    margin: 0;
}

nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

a{
    color: white;
    text-decoration: none;
}

.row{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
}

.row:before,
.row:after{
    content:" ";
    display:table;
}

.row:after{
    clear:both;
}

.top-bar ul{
    margin-bottom: 30px;
    list-style:none;
}

.top-bar .name h1 a,
.top-bar .name h2 a,
.top-bar .name h3 a{
    width:auto;
}

.top-bar-section ul li{
    float:left ;
}


/*    Header    */

.logo h1 {
    text-decoration: none;
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo span {
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: #AED6F1;
    border: 10px solid #AED6F1;
}

.container {
    width: auto;
    padding: 0 10px 10px 0;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

li {
    list-style: none;
    margin-top: 15px;
}

header .top-bar-section ul li a {
    color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 0 5px;
}

/*     Menu déroulant       */

#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin-top: 10px;
    list-style: none;
}

#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
    position: relative;
}

#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}

#menu-deroulant a {
    text-decoration: none;
    display: block;
	color: white;
    width: 100%;
    margin: 0 25px;
    text-align: center;
}

#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
}

#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
    top: 5px;
}

#menu-deroulant a:hover {
    color: #21618C;
    text-decoration: none;
}


/*     Page     */

.corps {
    padding-top: 60px;
}

.caption {
    font-family: 'Montserrat';
    font-size: 65px;
    color: #CACFD2;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
    margin-top: 30px;
    font-weight: bolder;
}

.page{
    padding: 50px 200px;
    margin-left:auto;
    margin-right:auto;
}

.page .sub_title{
    color: #CACFD2;
	text-align: justify;
	font-size: 28px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: lighter;
    line-height: 175%;
    padding: 0 25px 10px 25px;
}

.title{
    color: white;
	text-align: justify;
	font-size: 25px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    padding-top: 10px;
    text-decoration: underline;
}

.min_title{
    color: white;
	text-align: justify;
	font-size: 22px;
	font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-weight: bold;
    text-indent: 30px;
}

.text:hover{
    color : white;
}

.button1 {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.page .luteaux {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
    border: 15px solid;
    border-color: #BDC3C7 #D1CA41;
    margin-bottom: 25px;
    padding-top: 10px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page .loutins {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
}

.boutton {
    background-color: transparent;
    color: #BDC3C7;
    border: 2px solid #D1CA41;
}

.boutton:hover {
    background-color: #D1CA41;
    color: white;
}

.page .eclais {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
    border: 15px solid #27AE60;
    margin-bottom: 25px;
    padding-top: 10px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page .eclai {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
}

.boutton1 {
    background-color: transparent;
    color: #BDC3C7;
    border: 2px solid #27AE60;
}

.boutton1:hover {
    background-color: #27AE60;
    color: white;
}

.page .ainee {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
    border: 15px solid #C0392B;
    margin-bottom: 25px;
    padding-top: 10px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page .aine {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
}

.boutton2 {
    background-color: transparent;
    color: #BDC3C7;
    border: 2px solid #C0392B;
}

.boutton2:hover {
    background-color: #C0392B;
    color: white;
}

.page .equipe {
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #BDC3C7;
    text-transform: uppercase;
    border: 15px solid #1F618D;
    margin-bottom: 25px;
    padding-top: 10px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boutton3 {
    background-color: transparent;
    color: #BDC3C7;
    border: 2px solid #1F618D;
}

.boutton3:hover {
    background-color: #1F618D;
    color: white;
}
